<li>
    <p>
    <a href="/productos/<%= producto._id %>"><%= producto.name %></a>
        Precio: $<%= producto.price %>
    </p>
    <a href="/productos/<%= producto._id %>/eliminar">Eliminar</a>
    <a href="/productos/<%= producto._id %>/editar">Editar</a>
</li>